<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Bookmark management">
  <meta name="author" content="sriramb@visualbi.com">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/simple-sidebar.css" rel="stylesheet">



  <!-- jQuery -->
  <script type="text/javaScript" src="../bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="app/rest/main.js"></script>


  <!-- Blog Files -->
  <script type="text/javascript" src="app/bookmark/bookmark_ctrl.js"></script>
</head>

<body ng-app="bookmark" ng-controller="bookmark_controller">

  <div id="wrapper" >

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="#" ng-click= "setCurrent()">
          HOME
          </a>
        </li>
        <li ng-repeat="category in categories">
          <a href="#" ng-click = "setCurrentCategory(category)" >{{category.name}}</a>
        </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      
      <div class="container-fluid">
        <div>
                <li ng-repeat= "bookmark in bookmarks | filter:{category : currentCategory.name}">
               <a href= "{{ bookmark.url }}" > {{bookmark.title}} </a>
             </li>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->



  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
